<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Let ASP.NET Core handle PUT and DELETE instead of inherited IIS WebDAV. -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="11534336" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
